body{

    margin:0;

    font-family:Arial, sans-serif;

    background:linear-gradient(135deg,#0f172a,#2563eb);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

}

.container{

    width:900px;

    max-width:95%;

    background:#fff;

    border-radius:20px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,0.3);

}
.profile-picture{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #2563eb;
}

.profile-card{

    text-align:center;

}

img{

    width:180px;

    height:180px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid #2563eb;

}

h1{

    color:#0f172a;

    margin:15px 0 5px;

}

h3{

    color:#2563eb;

}

p{

    line-height:1.7;

    color:#555;

}

.section{

    margin-top:30px;

}

h2{

    border-left:6px solid #2563eb;

    padding-left:10px;

    color:#0f172a;

}

ul{

    list-style:none;

    padding:0;

}

li{

    background:#f1f5f9;

    padding:12px;

    margin:10px 0;

    border-radius:10px;

}

li:hover{

    transform:translateX(5px);

    transition:0.3s;

}

@media(max-width:768px){

    .container{

        padding:25px;

    }

    h1{

        font-size:28px;

    }

}