/* Dark Mode */

.dark-mode{
    background:#121212;
}

.dark-mode .container{
    background:#1f1f1f;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode li{
    color:white;
}

.dark-mode li{
    background:#333;
}

/* Button */

#darkModeBtn{
    margin-top:15px;
    margin-bottom:20px;
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

#darkModeBtn:hover{
    background:#1d4ed8;
}
}
